<h1>Welcome to AirBnB</h1>
<p>You can do things here</p>
<form action="/listings" method="get">
<button>Listing</button>
</form>
<form action="/properties" method="get">
<button>My properties</button>
</form>
<form id="searchbar" method="get" action="http://www.google.com">
	<input type="text" class="tftextinput" name="q" size="21" maxlength="120">
	<input type="submit" value="search">
</form>